.main {
    height: 100vh;
    padding: 10px;
    width: 100vw;
}

.layout {
    display: flex;
    background: linear-gradient(to bottom right, #ff966d, #fa538d, #89379c);
}

.sidebar {
    position: sticky;
    top: 0px;
    left: -10px;
    margin-left: 10px;
    height: 96vh;
    width: 300px;
    border-radius: 5px;
    background-color: #5ae1ff;
    box-shadow: 0px 0px 2px gray;
    margin-right: 20px;
    color: white;
}

.ham-menu {
    display: none;
    z-index: 3;
    position: fixed;
    top: 10px;
    left: 20px;
    scale: 1.6;
}

@media screen and (max-width:800px) {

    .hidebar {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    .hidebar .ham-menu {
        color: white;
    }

    .sidebar {
        position: fixed;
        z-index: 2;
        top: 0px;
        left: -10px;
        border-radius: 0px;
        height: 100vh;
    }
}

.content {
    width: 100%;
    height: 100%;
}

.header {
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px gray;
    background-color: #5ae1ff;
}

.body {
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px gray;
    border: 2px solid black;
    background: #f3aeef;
}

.logo {
    font-size: 1rem;
    margin: 10px 0px;
}

.logo h6 {
    font-size: 1.5rem;
    margin: 10px 0px;
    text-align: center;
}

.menu {
    margin-top: 50px;
}

.menu-item {
    margin-top: 30px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item i {
    font-size: 1.2rem;
    margin: 0px 15px;
}

.active {
    background-color: white;
    padding: 10px;
}

.active a,
.active i {
    color: rgb(121, 24, 24);
}

.header-content {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    margin: 0px 150px;
}

.header-content i {
    margin-right: 20px;
    font-size: 1.2rem;
}

.header-content a {
    text-decoration: none;
    color: blue;
    font-size: 1.2rem;
    margin: 0 10px;
    text-transform: uppercase;
}